<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>DockPin</string>
    <key>CFBundleDisplayName</key>
    <string>DockPin</string>
    <key>CFBundleIdentifier</key>
    <string>com.green2grey.DockPin</string>
    <key>CFBundleVersion</key>
    <string>200</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>DockPin</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string>DockPin</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://green2grey.github.io/DockPin/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>VMv7sKN60Zft++OFlA6/gJ2RiveZa/N/U5LOGs1L+Fc=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
